* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

html, body {
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #0d0d0db4;
  color: #e5e5e5;
}

.container {
  width: min(100%, 960px);
  margin: 0 auto;
  padding: 0 1rem;
}

/* header */

.main-header {
  background: #1a1a1a;
  padding: 1.5rem 0;
  border-bottom: 4px solid #facc15;
}

.header-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 999px;
  border: 3px solid #facc15;
  object-fit: cover;
}

.name {
  font-size: 2rem;
  font-weight: 800;
  color: #facc15;
}

.tagline {
  font-size: 1rem;
  color: #d1d5db;
}

.contact {
  display: flex;
  gap: 0.75rem;
  margin-top: 0.5rem;
}

.contact a {
  background: #facc15;
  color: #0d0d0d;
  padding: 0.35rem 0.75rem;
  border-radius: 999px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.contact a:hover {
  background: #fcd951; 
}

/* sections */

main {
  padding: 2rem 0 3rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #facc15;
  margin-bottom: .75rem;
}

h3 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: .5rem;
  color: white;
}

p {
  font-size: 1rem;
  color: #d4d4d4;
}

.summary {
  background: #1a1a1a;
  border: 1px solid #2e2e2e;
  border-left: 4px solid #facc15;
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.summary p {
  color: #d4d4d4;
  font-size: 1rem;
  line-height: 1.6;
}

/* lists */

ul {
  padding: 0;
}

ul li {
  margin-bottom: .15rem;
  color: #e5e5e5;
  margin-bottom: .3rem;
  line-height: 1.6;
}

/* cards */

.card {
  background: #1f1f1f;
  border: 1px solid #464646;
  border-radius: .1rem;
  padding: 2rem;
  margin-bottom: 1rem;
  transition: border-color 0.5 ease;
}

.card:hover {
  border-color: #facc15;
  transition: border-color 0.5s ease;
}

.list li,
.skills-list li {
  background: #1f1f1f;
  border: 1px solid #2e2e2e;
  padding: .75rem;
  border-radius: .5rem;
  margin-bottom: .5rem;
  list-style: none;
}

.list li:hover,
.skills-list li:hover {
  border-color: #facc15;
  transition: border-color 0.5s ease;
}

.skills-list strong {
  color: #facc15;
}

footer {
  background: #1a1a1a;
  padding: 1rem 0;
  text-align: center;
  font-size: 1rem;
  color: #a3a3a3;
  border-top: 1px solid #2e2e2e;
}

.card ul {
  margin-left: 1.5rem;
  padding-left: 1rem;
}

.card ul li {
  margin-bottom: .3rem;
  line-height: 1.6;
}

/* mobile time yay */

@media (max-width:600px) {

  .container { padding: 0 0.875rem; }
  section {margin-bottom: 1.5rem;} 
  .summary {padding: 0.875rem 1rem; margin-top: 1rem;}

  .header-wrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .75rem;
  }

  .contact {
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
  }
}