* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: white;
  color: black;
}

.container {
  width: min(100%, 960px);
  margin: 0 auto;
  padding: 0 1rem;
}

/* header */

.main-header {
  background: #2b6e8d;
  color: white;
  padding: 1.5rem 0;
  border-bottom: 4px solid #000000;
}

.header-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {

}